

.return-select-movie{
    background: transparent;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 20px;
    border: none;
    img{
        width: 50px;
    }
}

.screen-details-movies{
    @media screen and (max-width : 500px) {
        margin-top: 70px;
    }
    display: none;
    width: 100vw;
    height: 100vh;
    .card-movie-details{
        padding: 50px;
        width: 100%;
        height: 100vh;
        top: 0;
        background: $color-black;
        display: flex;
        justify-content: center;
        align-items: center;
        @media screen and (max-width : 800px) {
            justify-content: flex-start;
            flex-direction: column;
        }
        .titles-movie{
            padding: 20px;
            h2{
                font-family: 'Roboto', sans-serif;
                font-weight: 500;
                font-size: 3rem;
                margin: 10px 0;
                color: $color-white;
                span{
                    margin-left: 10px;
                    font-size: 1rem;
                }
            }
            p{
                color: $color-white;
                font-family: 'Roboto', sans-serif;
                font-weight: 200;
                font-size: 1rem;
            }
        }
        img{
            width: 300px;
            border-radius: 10px;
        }
    }
}
