

.screen-home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1{
        color: $color-white;
        font-size: calc(25px + 3vw);
        span{
            color: $color-red;
            font-weight: bolder;
            font-size: calc(25px + 5vw);
        }
    }
    .description-meteo{
        color: $color-white;
        text-align: center;
        font-size: calc(10px + 1vw);
        padding: 0 10px;
    }
    .go-select-movie, .btn-access-anyway{
        border: 0;
        margin: 20px 0 30px 0;
        text-decoration: none;
        font-family: $font-netfix;
        cursor: pointer;
    }
    .go-select-movie{
        color: $color-white;
        display: block;
        font-size: calc(20px + 1vw);
        border-radius: 10px;
        background: $color-red;
        padding: 10px 30px;
    }
    .btn-access-anyway{
        display: none;
        background: transparent;
        color: $color-red;
    }
    .meteo{
        position: absolute;
        top: 10px;
        z-index: 2;
        text-align: end;
        color: $color-white;
        font-size: 20px;
        right: 10px;
    }
    .loca{
        position: absolute;
        top: 10px;
        z-index: 2;
        color: $color-white;
        font-size: 20px;
        left: 10px;
    }
}